.discount-section-conatiner {
    display: flex;
    align-items: center;
}

.half-width-home {
    width: 50%;
}

.half-width-home img {
    width: 50%;
    margin-left: 200px;
}

.half-width-home h1 {
    font-size: 50px;
    margin: 0;

}

.half-width-home p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading-color {
    color: rgba(37, 33, 255, 0.61);
}

.btn-home {
    color: white;
    background-color: rgba(37, 33, 255, 0.61);
    border: none;
    height: 50px;
    width: 150px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}

.btn-home:hover {
    background-color: indigo;
}

.review-conatainer button {
    margin-top: 15px;
    color: white;
    background-color: rgba(37, 33, 255, 0.61);
    border: none;
    height: 50px;
    width: 150px;
    font-weight: 700;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.review-conatainer button:hover {
    background-color: indigo;

}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .discount-section-conatiner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }

    .discount-section-conatiner img {
        width: 70%;
        margin: 0px;
    }

    .discount-section-conatiner h1 {
        font-size: 20px;
    }

    .discount-section-conatiner p {
        font-size: 15px;
    }

    .discount-section-conatiner button {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .discount-section-conatiner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .discount-section-conatiner img {
        width: 100%;
        margin: 0px;
    }

    .discount-section-conatiner h1 {
        font-size: 20px;
    }

    .discount-section-conatiner p {
        font-size: 15px;
    }

    .discount-section-conatiner button {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .discount-section-conatiner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }

    .discount-section-conatiner img {
        width: 70%;
        margin: 0px;
    }

    .discount-section-conatiner h1 {
        font-size: 20px;
    }

    .discount-section-conatiner p {
        font-size: 15px;
    }

    .discount-section-conatiner button {
        width: 50%;
    }
}